.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}


.input-group-text:focus-within,
.form-control:focus {
    box-shadow: none !important;
    border-color: #ced4da; /* Optionally reset border color */
}

.input-group-text,
.form-control {
    background-color: #F5FFF5;
}


@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}


.text-pri {
  color: #388e3c;
}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #388e3c !important;
  border-color: #388e3c !important;
}

.me-2, .me-2:hover, .me-2:active, .me-2:visited {
  background-color: #ffffff !important;
  color: #388e3c !important;
  border-color: #fff !important;
}

.form-control{
  border-left: none !important;
}

.input-group-text, .p-3 {
  color: #388e3c;
}